h1{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: rgb(255, 247, 201);
	text-decoration-color: black;
}
div{
	border-top: 0;
	background-color: rgb(153, 161, 211);
}